.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.seperator {
  border: 1px solid #e1dbdb;
}
.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(197, 229, 242);
  color: rgb(107, 107, 107);
  box-shadow: 3px 4px 4px rgb(0, 0, 0, 0.1);
  font-weight: 550;
  margin-top: -10px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
#taskCursor {
  cursor: pointer;
}
